.group-user {
  .group-search {
    width: 96%;
    position: relative;
    left: 2%;
    .group-search-button {
      margin-left: 20px;
    }
  }
  .group-table {
    width: 96%;
    position: relative;
    left: 2%;
    .group-table-operate {
      margin-bottom: 20px;
    }
  }
}